* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #b3ebf3;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 90%;
  max-width: 1200px;
}

.card {
  background: linear-gradient(to bottom,rgb(184, 181,181),rgb(58,96,132));
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;

}

.card:hover {
  transform: translateY(-5px);
  background:linear-gradient(to bottom,rgb(137, 24, 137),rgb(209, 130, 238));
}


.card h2{
  margin-bottom: 50px;
  color: #fff;
}

.card img {
  width: 70%;
  height: 150px;
  background: #ddd;
  border-radius: 100%;
  margin-bottom: 50px;
}

.card p {
  color: #fff;
  font-size: 14px;
  line-height: 1.4;
  font-weight:bold;
}

@media (max-width: 768px) {
  .card {
    width: 90%;
  }
}
